.modal__background {
  background-color: rgba(0, 0, 0, 0.866);
  color: red;
  min-height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal__container {
    border: red solid 1px;
    min-width: 30%;
    min-height: 35%;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
  }

  .modal__wrapper {
    position: relative;
  }
  .modal__context {
    width: 400px;
    z-index: 4;
    padding: 2rem 1rem;
    border-radius: 0.2em;
    background: rgb(255, 255, 255);
    color: rgb(172, 172, 172);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: relative;
  }
  .closeButton {
    cursor: pointer;
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 100%;
    margin-left: 0.5em;
    width: 20px;
    height: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 0.2em;
    transition: all 0.1s ease-in;
  }
}
