.categories__container {
  --size: 70px;
  display: flex;
  padding: 3rem 0 0 3rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1.5rem;
  //   scroll-snap-type: x mandatory;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .category__img {
    flex: 0 0 auto;
    background: lightblue;
    border-radius: 50%;
    height: var(--size);
    width: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    // scroll-snap-align: start;
    cursor: pointer;
  }
}
