:root {
  --clr-primary: #fe4e4e;
  --clr-neutral: #fbb1a9;
  --clr-light: #ffe5de;
  --clr-contrast: #86aee1;
  --text-base-size: 1em;

  // type scale
  --text-scale-ratio: 1.2;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
}

* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  // width: 100vw;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: white;
}

li {
  list-style: none;
}
input:focus {
  outline: none;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}
